$font: 'Rubik', sans-serif;

$c-primary: #ED9902;
$c-dark_2: #2D2B29;
$c-white: white;
$c-body: #9B968B;
$c-dark_1: #21201E;
$c-grey_1: #A19A88;
$c-grey_2: #A29A8B;
$c-white-alfa: rgba(255,255,255,0.15);
$c-grad: linear-gradient(180deg, #4D4A45 0%, #292824 100%);

$transition: .2s all ease-in-out;

$radius-btn: 5px;
$radius-card_2: 8px;
$radius-card: 12px;

// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;